@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



:root {
  --font-family-sans: 'Montserrat', sans-serif;
  font-family: var(--font-family-sans);
  /* from template */
  --color-black: #202123;
  --color-light-gray: #b4bcc7;
  --color-very-light-gray: #e7ebed;

  /* from design in Figma */
  --color-white: #fff;
  --color-gray: #7a7a7a;
  --color-gray-dark: #333333;
  --color-gray-medium: #636363;
  --color-accent: #31c17c;
  --color-shadow: #0b132b;
  --color-primary: #3a506b;

  /* ---------- */
  /* Typography */
  /* ---------- */
  --unit: 16;
  --font-micro-size: calc(10 / var(--unit) * 1rem); /* 10px */
  --font-micro-line-height: calc(12 / 10); /* 12px */
  --font-small-size: calc(14 / var(--unit) * 1rem); /* 14px */
  --font-small-line-height: calc(21 / 14); /* 21px */
  --font-base-size: 1em; /* 16px */
  --font-base-line-height: calc(24 / var(--unit)); /* 24px */
  --font-large-size: calc(18 / var(--unit) * 1rem); /* 18px */
  --font-large-line-height: calc(27 / 18); /* 27px */

  --font-title3-size: calc(21 / var(--unit) * 1rem); /* 21px */
  --font-title3-line-height: calc(30 / 21); /* 30px */
  --font-title2-size: calc(24 / var(--unit) * 1rem); /* 24px */
  --font-title2-line-height: calc(33 / 24); /* 33px */
  --font-title1-size: calc(49 / var(--unit) * 1rem); /* 49px */
  --font-title1-line-height: calc(57 / 49); /* 57px */
}

.textH1 {
  font-size: var(--font-title1-size);
  line-height: var(--font-title1-line-height);
  font-weight: bold;
}

.textH2 {
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
  font-weight: 600;
}

.textH3 {
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
  font-weight: normal;
}

.textBody {
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  font-weight: normal;
}

.button {
  border: none;
  color: var(--color-white);
  padding: 0.8em 1em;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
}

.accent {
  background-color: var(--color-accent);
}

.primary {
  background-color: var(--color-primary);
}