@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.nextIconOverride {
  height: 40px;
  width: 40px;
  margin: 0 0 0 5em;
}

.prevIconOverride {
  height: 40px;
  width: 40px;
  margin: 0 5em 0 0;
}
