@import '../styles/custom-media.css';

.root {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;

  @media (--media-min-small) {
    padding: 1em;
    max-width: 400px;
  }
  @media (--media-min-medium) {
    padding: 1.5em;
    max-width: 675px;

  }
  @media (--media-min-large) {
    padding: 2em;
    max-width: 900px;
  }
}
