@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

:root {
  --footer-height: 10em;
}

.pageContainer {
  position: relative;
  min-height: 100vh;
}

.content {
  background: var(--color-white);
  padding-bottom: var(--footer-height);
}
