@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.projectHeader {
  margin: 1em 0 0 2em;
}

.projectDiv {
  position: relative;
  width: 80%;
  max-width: 1000px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 2rem 0 2rem 0;
}
